html,
body,
div,
h1,
h2,
h3,
h4,
p,
img,
.wrapper {
  margin: 0;
  -webkit-margin: 0;
  padding: 0;
  -webkit-padding: 0;
  border: 0;
  -webkit-border:0;
  font-size: 100%;
}

header,
footer,
menu,
nav {
  min-width: 100%;
  display: block;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* MAIN */
html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  min-width: 1025px;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  min-height: 100%;
  width: 100%;
  position: absolute;
  padding-top: 80px;
  padding-bottom: 275px;
}

header {
  z-index: 1;
  width: 100%;
  height: 80px;
  background: #202945;
  position: fixed;
  top: 0;
}

header nav {
  display: none;
}

h1 {
  font-weight: 300;
  font-size: 2em;
  letter-spacing: .5em;
  line-height: 150%;
}

h2 {
  font-weight: 700;
  font-size: 2em;
  letter-spacing: .25em;
  line-height: 150%;
}

h3 {
  font-weight: 500;
  font-size: 1em;
  letter-spacing: .125em;
  line-height: 150%;
}

h4 {
  font-weight: 700;
  font-size: 1em;
  line-height: 120%;
}

h5 {
  font-family: "Playfair Display", serif;
  font-size: 1.4em;
  font-style: italic;
  letter-spacing: .25em;
  line-height: 150%;
}

p {
  line-height: 150%
}

a {
  color: white;
  text-decoration: none;
}

button {
  background-color: white;
  width: 250px;
  height: 65px;
  border: none;
  color: black;
  font-size: .75em;
  letter-spacing: .25em;
  line-height: 120%;
  display: block;
  margin: 20px 20px 0 20px;
}

.quote {
  font-family: "Playfair Display", serif;
  font-size: 1.125em;
  font-style: italic;
  line-height: 150%;
}

.author {
  font-size: .8em;
  line-height: 150%;
}

/* HEADER */
.head-elements {
  height: 80px;
  max-width: 90%;
  margin: 0 auto;
}

.SD-logo {
  max-height: 48px;
  padding: 16px 0;
  float: left;
}

.fas.fa-bars.fa-2x{
  color: white;
  padding: 24px 0;
  float: right;
}

/* HERO */
#hero {
  display: none;
}

/* WORK */
#work {
  background: #BF4953;
  height: auto;
  width: 100%;
  padding: 50px 0px;
  color: white;
}

#work figure {
  display: inline-block;
  width: 250px;
  margin: 20px;
  text-align: center;
}

figcaption {
  padding: 5px 0 18px 0;
}

#work img {
  max-width: 250px;
}

#work button {
  display: block;
  margin: 15px auto;
}

/* ABOUT */
#about {
  display: none;
}

/* FOOTER */
footer {
  position: absolute;
  height: 275px;
  bottom: 0;
  width: 100%;
  background: #202945;
  color: white;
  margin-top: -275px;
  clear: both;
}

footer li {
  display: block;
  font-size: 1.125em;
  flex-wrap: wrap;
  padding: 10px 0px;
}

#footer-content {
  padding-top: 50px;
}

.copyright {
  padding-top: 10px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 451px) {
  /* MAIN */
  .wrapper {
    padding-bottom: 170px;
  }

  /* FOOTER */
  footer {
    height: 170px;
    margin-top: -170px;
  }

  footer li {
    font-size: 1em;
    display: inline-block;
    margin: 10px 20px;
  }

  #footer-content {
    padding-top: 40px;
  }
}

@media screen and (min-width: 451px) and (max-width: 675px) {
  /* MAIN */
  h3 {
    font-size: 1.4em;
  }

  .quote {
    font-size: 1.2em;
  }

  .author {
    font-size: 1em;
  }
}

@media screen and (min-width: 585px) and (max-width: 675px) {
  /* WORK */
  #work figure {
    display: block;
    margin: 20px auto;
  }
  #work button {
    display: inline-block;
    margin: 20px 15px 0px 15px;
  }
}

@media screen and (min-width: 676px) {
  /* WORK */
  #work .resume {
    display: none;
  }

  /* ABOUT */
  #about {
    display: block;
    background:
      linear-gradient(
       rgba(220, 191, 165, 0.84),
       rgba(220, 191, 165, 0.84)
       ), url(../../img/priscilla-du-preez-428495.jpg);
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0px;
  }

  #about p {
    max-width: 520px;
    margin: auto;
  }

  #about img {
    vertical-align: middle;
    padding: 10px;
  }

  .palace {
    /* max-height: 100px; */
    max-width: 175px;
  }

  .continental {
    /* max-height: 75px; */
    max-width: 175px;

  }

  .bradley {
    /* max-height: 50px; */
    max-width: 175px;
  }

  #about i {
    display: inline-block;
    padding: 10px;
  }

  #about button {
    margin: 48px auto 0 auto;
  }

  #about button i {
    padding: 0px;
  }
}

@media screen and (min-width: 676px) and (max-width: 760px) {
  /* WORK */
  #work {
    order: 2;
  }

  /* ABOUT */
  #about {
    order: 1;
  }
}

@media screen and (min-width:761px) {
  /* MAIN */
  .wrapper {
    padding-top: 0;
  }

  /* HERO */
  #hero {
    display: block;
    background:
      linear-gradient(
       rgba(32, 41, 69, 0.77),
       rgba(32, 41, 69, 0.77)
       ), url(../../img/annie-spratt-176628.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #hero img {
    width: 350px;
  }

  #hero-content {
    position: relative;
    vertical-align: middle;
    top: 15%;
    color: white;
  }

  #hero button {
    display: inline-block;
  }
}

@media screen and (min-width:1250px) {
  /* WORK */
  #work figure {
    width: 390px;
  }

  #work img {
    max-width: 350px;
    margin: 20px;
    align-items: center;
  }
}

@media screen and (min-width: 1000px) {
  /* HEADER */
  .head-elements {
    width: 900px;
  }
}
